<div class="header">
    <mat-toolbar color="primary" class="d-flex justify-content-between">
        <div class="d-flex align-items-center" routerLink="/auth">
            <mat-icon>arrow_back_ios</mat-icon>
            <span class="fz-1r">Atrás</span>
        </div>
        <div class="d-flex align-items-center">
            <span class="title">dipcal</span>
        </div>
        <div class="d-flex align-items-center">
            <span class="fz-1r">Usuario</span>
            <mat-icon>person</mat-icon>
        </div>
    </mat-toolbar>
</div>
