<div mat-dialog-content class="dialogFiltro">
    <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)" src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img 
            src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div>
            <img (click)="selectedButton($event)"src="./assets/icons/back.svg">
        </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
