<div class="header">
  <mat-toolbar color="primary" class="d-flex justify-content-between">
      <div class="d-flex align-items-center pointer" (click)="back()">
          <mat-icon>arrow_back_ios</mat-icon>
      </div>
      <div class="d-flex align-items-center">
          <span class="title pointer" (click)="goToHome()">PLAYER {{networkStatus}}</span>
      </div>
      <div class="d-flex align-items-center">
          <div class="d-flex flex-direction-column toolbar-info">
              <span class="header-sub-title mr-1">{{ username }}</span>
          </div>
          <button mat-mini-fab color="basic" [matMenuTriggerFor]="menu" class="miniButton">
              <mat-icon class="color-base">
                  person
              </mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="cerrarSesion()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Desconectarse</span>
              </button>
          </mat-menu>
      </div>
  </mat-toolbar>
</div>

<div class="container">
    <form>
        <mat-form-field>
            <mat-placeholder>Buscar Youtube</mat-placeholder>
            <input matInput type="search">
            <button mat-raised-button color="primary" (click)="openDialogSearch()" matSuffix mat-stroked-button aria-label="search">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <video id="myVideo"
        class="video-js vjs-big-play-centered"
        controls
        data-setup='{ "techOrder": ["youtube", "html5"] }'>
        <source src="https://www.youtube.com/watch?v=sem5xr_wezM" type="video/youtube">
    </video>
</div>
